<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :loading.sync="loading" :initialItems.sync="sortedItems" :departments.sync="departments"/>
  </div>
</template>

<script>
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'
  import ListTable from '../components/ListTable'
  import { mapActions, mapGetters } from 'vuex'

  const MODULE_NAME = 'usuario'
  const crudStore = crudHelper(MODULE_NAME)

  const fields = [
    { label: 'ID', slug: 'id' },
    { label: 'Nome', slug: 'name' },
    { label: 'Usuário', slug: 'userLogin' },
    { label: 'Departamento', slug: 'department_name' },
    // { label: 'CEP', slug: 'cep' },
    { label: 'Cidade', slug: 'city' },
    { label: 'CNPJ/CPF', slug: 'cnpjCpf' },
    // { label: 'Complemento', slug: 'complement' },
    // { label: 'Distrito', slug: 'district' },
    // { label: 'Endereço', slug: 'address' },
    // { label: 'Nº', slug: 'number' },
    { label: 'Tipo', slug: 'personType' },
    // { label: 'UF', slug: 'state' },
    //{ label: 'Senha', slug: 'password' },
  ]

  const filters = [
    //  {
    //     slug: 'name',
    //     type: 'text',
    //     placeholder: 'Nome'
    //   },
    //  {
    //     slug: 'created_at',
    //     label: 'Cadastro criado entre:',
    //     type: 'daterange',
    //     start_placeholder: 'Início',
    //     end_placeholder: 'Fim',
    //     range_separator: 'e'
    //   },
    //   {
    //     slug: 'nome',
    //     type: 'text',
    //     placeholder: 'Nome'
    //   },
    //   {
    //     slug: 'sexo',
    //     type: 'select',
    //     autocomplete: false,
    //     placeholder: 'Sexo',
    //     options: [
    //       { key: 'F', label: 'Feminino' },
    //       { key: 'M', label: 'Masculino' }
    //     ]
    //   },
    //   {
    //     slug: 'idade',
    //     label: 'Idade',
    //     type: 'range',
    //     unit: ' anos',
    //     options: {
    //       step: 1,
    //       min: 18,
    //       max: 80,
    //       tooltip: (val) => val + ' anos'
    //     }
    //   },
    //   {
    //     slug: 'peso',
    //     label: 'Peso',
    //     type: 'range',
    //     unit: 'Kg',
    //     options: {
    //       step: 5,
    //       min: 30,
    //       max: 180,
    //       tooltip: (val, unit) => val + 'Kg'
    //     }
    //   },
    //   {
    //     slug: 'altura',
    //     label: 'Altura',
    //     type: 'range',
    //     unit: 'm',
    //     options: {
    //       step: 0.05,
    //       min: 1,
    //       max: 2.4,
    //       tooltip: (val) => val + 'm'
    //     }
    //   },
    //   {
    //     slug: 'circuferenciaabdominal',
    //     label: 'Cintura',
    //     type: 'range',
    //     unit: 'cm',
    //     options: {
    //       step: 1,
    //       min: 20,
    //       max: 150,
    //       tooltip: (val) => val + 'cm'
    //     }
    //   },
    //   {
    //     slug: 'indicegordura',
    //     label: '% Gordura',
    //     type: 'range',
    //     unit: '%',
    //     options: {
    //       step: 1,
    //       min: 1,
    //       max: 80,
    //       tooltip: (val) => val + '%'
    //     }
    //   },

    //   {
    //     slug: 'praticanteMusculacao',
    //     label: 'Praticante de Musculação',
    //     type: 'checkbox'
    //   }
  ]


  export default {
    components: { ListTable },
    data() {
      return {
        fields: fields,
        filters: filters,
        sortedItems: [],
      }
    },
    created: {
      console
    },
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        items: 'usuario/items',
        departments: 'department/items'
      })
    },
    watch: {
      'items' (newVal) {
        newVal.forEach(usuario => {
            usuario.department_name = this.getDepartmentName(usuario.department_id)
        });
        this.sortedItems = newVal
      },      
      deep: true,
      immediate: true
    },
    created() {
      this.find()
      this.findDepartments()
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findDepartments: 'department/find'
      }),
      getDepartmentName(id) {
        let result = '' // guardar resultados traduzidos
        for (let department in this.departments) {
          if (this.departments[department].id == id) {
            return this.departments[department].description
          }
        }
      }
    }
  }
</script>
