<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<script>
import echarts from 'echarts'
require('echarts/theme/macarons') // echarts theme
import resize from './mixins/resize'

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'chart'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '350px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    chartData: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      chart: null
    }
  },
  computed: {
    objectChartData: function() {
      var result = {}
      console.log(this.chartData)
      for (var i = 0; i < this.chartData.length; i++) {
        result[this.chartData[i].id] = this.chartData[i].power
      }
      return result
    }
  },
  watch: {
    chartData: {
      deep: true,
      handler(val) {
        // console.log('this.chartDatawatch')
        // console.log(this.chartData)
        // console.log('val')
        // console.log(val)
        this.setOptions(val)
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy() {
    if (!this.chart) {
      return
    }
    this.chart.dispose()
    this.chart = null
  },
  methods: {
    initChart() {
      this.chart = echarts.init(this.$el, 'macarons')
      // console.log(this.chartData)
      // console.log(this.objectChartData)
      this.setOptions(this.chartData)
    },
    setOptions([robo] = [robo]) {
    // setOptions([{ id, date, power, color }] = [{ id: '', power: [], date: [], color: '' }]) {
      // console.log('id')
      // console.log(robo)
      // console.log(robo.date)
      // console.log('power')
      // console.log(power)
      // console.log('color')
      // console.log(color)
      this.chart.setOption({
        xAxis: {
          data: robo.date,
          boundaryGap: false,
          axisTick: {
            show: true
          }
        },
        yAxis: {
          axisTick: {
            show: false
          }
        },
        grid: {
          left: 10,
          right: 10,
          bottom: 20,
          top: 30,
          containLabel: true
        },
        tooltip: {
          trigger: 'axis',
          axisPointer: {
            type: 'cross'
          },
          padding: [5, 10]
        },
        legend: {
          data: 'ROBOT AUTONOMY'
        },
        series: [
          {
            name: 'Robô ' + robo.id,
            itemStyle: {
              normal: {
                color: robo.color,
                lineStyle: {
                  color: robo.color,
                  width: 3
                }
              }
            },
            smooth: true,
            type: 'line',
            data: robo.power,
            animationDuration: 2800,
            animationEasing: 'cubicInOut'
          },
          // {
          //   name: 'robo2',
          //   smooth: true,
          //   type: 'line',
          //   itemStyle: {
          //     normal: {
          //       color: '#3888fa',
          //       lineStyle: {
          //         color: '#3888fa',
          //         width: 2
          //       },
          //       areaStyle: {
          //         color: '#f3f8ff'
          //       }
          //     }
          //   },
          //   data: date,
          //   animationDuration: 2800,
          //   animationEasing: 'quadraticOut'
          // }
        ]
      })
    }
  }
}
</script>