<template>
  <div :class="className" :style="{height:height,width:width}" />
</template>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  -->
<script>
import resize from './mixins/resize'
// import socket from 'socket.io'
// import VueSocketIO from 'vue-socket.io'
// import SocketIO from 'socket.io-client'
// const io = require('socket.io')
// const socket = io.connect('ec2-18-230-116-88.sa-east-1.compute.amazonaws.com:50676')

// const options = { path: '/my-app/' }; //Options object to pass into SocketIO

export default {
  mixins: [resize],
  props: {
    className: {
      type: String,
      default: 'remote'
    },
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '650px'
    },
    autoResize: {
      type: Boolean,
      default: true
    },
    stringData: {
      type: String,
      default: 'not connected yet'
    }
  },
  data: () => ({
    isConnected: false,
    socketMessage: '',
    remote: ''
  }),
  // sockets: {
  //   connect() {
  //     console.log('socket connected')
  //     this.isConnected = true
  //   },
  //   disconnect() {
  //     this.isConnected = false
  //   },
  //   customEmit: function(data) {
  //     console.log('this method was fired by the socket server. eg: io.emit("customEmit", data)')
  //   },
  //   stringData(data) {
  //     this.socketMessage = data
  //   }
  // },
  watch: {
  },
  created() {
    // const socket = SocketIO('ec2-18-230-116-88.sa-east-1.compute.amazonaws.com:50677')
    // console.log(socket)
    // const socket = this.io()
    // console.log(this.socket)
  },
  mounted() {
    this.$nextTick(() => {
      // Defer the callback to be executed after the next DOM update cycle. Use it immediately after you’ve changed some data to wait for the DOM update.
      // socket.on('image', (data) => {
      //   console.log('data', data)
      // });
      // console.log('remote data', this.remoteData)
    })
  },
  beforeDestroy() {
    if (!this.remote) {
      return
    }
    this.remote.dispose()
    this.remote = null
  },
  methods: {
    // clickButton: function(data) {
    //   // $socket is socket.io-client instance
    //   this.$socket.emit('emit_method', data)
    // },
    // pingServer() {
    //   // Send the "pingServer" event to the server.
    //   this.$socket.emit('pingServer', 'PING!')
    // }
  }
}
</script>
