@import 'variables';

.createPost-container {
  position: relative;
}

.createPost-main-container {
  padding: 0px 45px 20px 0px;
  .el-form-item {
    cursor: default;
    display: flex;
    flex-direction: column;
    .el-input-group__prepend {
      text-transform: none !important;
    }
  }
  .postInfo-container {
    position: relative;
    @include clearfix;
    margin-bottom: 10px;
    .postInfo-container-item {
      float: left;
    }
  }
}

.avatar-uploader .el-upload {
  border: 1.5px dashed $--color-border;
  background-color: #ffffff;
  border-radius: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 190px;
  height: 190px;
}

.avatar-uploader .el-upload:hover {
  border-color: $--color-primary;
}

.avatar-uploader.hasImg .el-upload::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/src/icons/svg/material-add-photo.svg);
  background-color: #ffffff80;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center 110px;
  opacity: 0;
  z-index: -1;
  transition: all 200ms ease;
}

.avatar-uploader.hasImg .el-upload {
  border: none;
  box-shadow: 0px 6px 24px -20px #000000;
  transition: all 200ms ease;
}

.avatar-uploader.hasImg .el-upload:hover {
  box-shadow: 0px 6px 18px -16px #000000;
}

.avatar-uploader.hasImg .el-upload:hover::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/src/icons/svg/material-add-photo.svg);
  background-color: #ffffff90;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 1;
  z-index: 99;
}

.avatar-uploader .avatar-uploader-icon {
  display: block;
  width: 190px;
  height: 190px;
  line-height: 190px;
  text-align: center;
  background-image: url(/src/icons/svg/material-add-photo.svg);
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: center center;
}

.avatar {
  width: 100%;
  height: 100%;
  display: block;
}

.el-form--label-left .el-form-item__label.avatar__label {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.el-col-18>.el-row {
  margin-left: 0 !important;
}

.el-col-18>.el-row>.el-col {
  padding-left: 0 !important;
}
