//to reset element-ui default css
.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

.pwd {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  min-width: 45px;
  height: 100%;
  font-size: 16px;
  line-height: initial;
  cursor: pointer;
  user-select: none;
  z-index: 999;
  transition: all .2s ease;
  &.not-visible {
    color: $--color-text-regular;
    transform: scale(1);
  }
  &.visible {
    color: $--color-success;
    transform: scale(1.2);
  }
}

.iconMessageBox {
  pointer-events: none;
  user-select: none;
  margin-right: 6px;
  transform: scale(.85) !important;
  border-radius: 50%;
}

.el-notification.right .el-notification__group .el-notification-title {
  color: $--color-info !important;
}
