@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// .clearfix {
//   &:after {
//     visibility: hidden;
//     display: block;
//     font-size: 0;
//     content: " ";
//     clear: both;
//     height: 0;
//   }
// }

// //main-container全局样式
// #app .main-container {
//   max-height: 100vh;
// }

// .app-main {
//   min-height: 100%;
//   max-height: 100vh;
//   overflow: visible !important;
// }

// .app-container {
//   padding: 18px 48px 60px 48px;
//   background-color: $--color-border-light-3;
//   min-height: calc(100vh - 50px);
//   height: auto;
// }

// .app-container .app-container {
//   padding: 0px 0px 0px 0px;
// }

// .app-container>h3 {
//   font-size: 2rem;
//   color: $--color-primary;
//   font-weight: bolder;
// }

// .app-container label,
// .app-container .el-table,
// .app-container .el-table__footer-wrapper,
// .app-container .el-table__header-wrapper,
// .app-container .el-range-separator {
//   text-transform: none;
// }

// .filter-container {
//   margin-left: 0 !important;
//   padding: 18px 18px;
//   border-radius: 8px;
//   background-color: #fff;
//   border: 1px solid #ebeef5;
//   width: 100%;
//   box-shadow: 0px 16px 44px -24px #00000015,
//   0px -6px 44px -24px #00000015,
//   -8px 0px 44px -36px #00000005,
//   8px 0px 44px -36px #00000005;
//   transition: all 120ms ease-in-out;
// }

// .filter-container:hover,
// .filter-container:focus,
// .filter-container:focus-within {
//   box-shadow: 0px 8px 44px -16px #00000025,
//   0px -6px 44px -24px #00000015,
//   -8px 0px 44px -36px #00000015,
//   8px 0px 44px -36px #00000015;
// }

// .el-table {
//   transition: all 120ms ease-in-out;
//   border-radius: 8px;
//   box-shadow: 0px 16px 44px -24px #00000015,
//   0px -6px 44px -24px #00000015,
//   -8px 0px 44px -36px #00000005,
//   8px 0px 44px -36px #00000005;
// }

// .el-table:hover,
// .el-table:focus,
// .el-table:focus-within {
//   box-shadow: 0px 16px 44px -18px #00000025,
//   0px -6px 44px -36px #00000015,
//   -8px 0px 44px -36px #00000015,
//   8px 0px 44px -36px #00000015;
// }

// .el-date-editor.el-input,
// .el-date-editor.el-input__inner {
//   width: auto !important;
// }
