//globl transition css
/*fade*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/

.fade-transform-enter-active {
  transition: transform .65s ease, opacity .45s linear;
  transition-delay: .1s;
}

.fade-transform-leave-active {
  transition: transform .4s ease, opacity .3s linear;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateY(2rem) scale(1.1);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateY(0) scale(.995);
}

/*fade*/

.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
