<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="18">
             <el-row :gutter="24">
               <el-row :gutter="24">
                  <el-col :span="12" style="padding-left: 0;">
                    <el-form-item label="Nome do modelo" prop="description">
                      <el-input v-model="item.description" placeholder="Dê um nome para o modelo" maxlength="60"/>
                    </el-form-item>
                  </el-col>
                </el-row>
                <el-row :gutter="24">
                  <el-col :span="12" style="padding-left: 0;">
                    <el-form-item label="Horário de manutenção" prop="inspectionHours">
                      <el-input-number :step="1" :max="24" :precision="0" :min="0" v-model="item.inspectionHours" placeholder="Escolha um horário para estes modelos de robôs"/>
                    </el-form-item>
                  </el-col>
                </el-row>
              </el-row>
          </el-col>
        </el-row>
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.description || (!item.inspectionHours && item.inspectionHours !== 0)"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'models'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        description: '',
        inspectionHours: ''
      },
      rules: {
        description: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({})
    },
    created() {
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({})
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
