<template>
  <div>
    <div class="logo-image">
      <img src="@/assets/logo-admin.png" alt="logo 33 robotics">
    </div>
    <el-scrollbar wrap-class="scrollbar-wrapper" class="groupScrollBar">
      <el-menu
        :default-active="$route.path"
        :collapse="isCollapse"
        :collapse-transition="true"
        class="el-menu-vertical"
        mode="vertical"
      >
        <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
      </el-menu>
    </el-scrollbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './SidebarItem'

export default {
  components: { SidebarItem },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    device() {
      return this.$store.state.app.device
    },
    routes() {
      return this.$router.options.routes
    },
    isCollapse() {
      return !this.sidebar.opened
    }
  }
}
</script>

<style scoped>
  .logo-image {
    max-width: 220px;
    max-height: 50px;
    background-color: #ffffff;
    margin-bottom: 1rem;
  }
  .el-menu-vertical:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-menu-vertical{
    width: 40px;
    min-height: 400px;
  }
  img {
    max-width: 100%;
    height: auto;
  }

  .groupScrollBar {
    height: 130% !important;
    overflow: hidden
  }
</style>
