<template>
  <div class="dashboard-container">
    <div class="dashboard-text">
      <el-row :gutter="10">
        <el-col :xs="24" :sm="8" :md="6" :lg="7" :xl="7">
          <exo-detail/>
        </el-col>
        <el-col :xs="24" :sm="16" :md="12" :lg="10" :xl="10">
          <exo-card :exo="exoSelected"/>
        </el-col>
        <el-col :xs="24" :sm="24" :md="6" :lg="7" :xl="7">
          <exo-history/>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import ExoCard from '@/components/Exo/Card.vue'
import ExoDetail from '@/components/Exo/Detail.vue'
import ExoHistory from '@/components/Exo/History.vue'

export default {
  name: 'Dashboard',
  components: {
    ExoCard,
    ExoDetail,
    ExoHistory
  },
  computed: {
    ...mapGetters([
      'name',
      'exoSelected'
    ])
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
