<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
        <div class="createPost-main-container">
          <el-row :gutter="24">
            <el-col :span="14">
              <el-form-item label="Nome fantasia" prop="fantasyName">
                <el-input
                  type="text"
                  v-model="item.fantasyName"
                  placeholder="Digite o nome fantasia da empresa"
                  maxlength="60"
                  autofocus
                />
              </el-form-item>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="4">
              <el-form-item label="Nº funcionários" prop="numberEmployees">
                <el-input-number v-model="item.numberEmployees" :step="1" step-strictly/>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Status" prop="status">
                <el-select v-model="item.status">
                  <el-option value="A" label="Ativa" />
                  <el-option value="I" label="Inativa" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-col>

      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.status || !item.fantasyName || !item.numberEmployees"
        @click="submit"
      >
        Salvar
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import crudHelper from "@/modules/_common/store/crudHelper";
import crudMixin from "@/modules/_common/mixins/crud";

const MODULE_NAME = "company";
const crudStore = crudHelper(MODULE_NAME);

export default {
  name: "Detail",
  data: () => ({
    MODULE_NAME,
    item: {
      fantasyName: "",
      numberEmployees: "",
      status: ""
    },
    rules: {
      fantasyName: [
        { required: true, message: "Campo obrigatório.", trigger: "blur" }
      ]
    }
  }),
  computed: {
    ...crudStore.computed,
    ...mapGetters({})
  },
  created() {
    if (this.$route.params.id) {
      const id = this.$route.params.id;
      this.select({ id })
        .then(item => Object.assign(this.item, item))
        .catch(alert);
    }
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({})
  }
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
@import "~@/styles/mixin.scss";
@import "~@/styles/detail.scss";
</style>
