<template>
  <div class="Drawer">
    <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">
      open
    </el-button>
    <el-drawer class='drawer'
      title="I am the title"
      :visible.sync="drawer"
      :direction="direction"
      :with-header="false"
      size="50%">
      <el-avatar :size="60" :src="circleUrl"></el-avatar>
      <div class="sub-title">{{ user }}</div>
      <!-- el-button plain circle icon="custom-icon el-icon-user-solid"></el-button -->
      <!--i class="el-icon-user-solid">User</i -->
      <el-menu
        default-active="2"
        class="el-menu-vertical-demo"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-submenu index="1">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span>Navigator One</span>
          </template>
          <el-menu-item-group title="Group One">
            <el-menu-item index="1-1">item one</el-menu-item>
            <el-menu-item index="1-2">item one</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="Group Two">
            <el-menu-item index="1-3">item three</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="1-4">
            <template slot="title">item four</template>
            <el-menu-item index="1-4-1">item one</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-menu-item index="2">
          <i class="el-icon-menu"></i>
          <span>Navigator Two</span>
        </el-menu-item>
        <el-menu-item index="3" disabled>
          <i class="el-icon-document"></i>
          <span>Navigator Three</span>
        </el-menu-item>
        <el-menu-item index="4">
          <i class="el-icon-setting"></i>
          <span>Navigator Four</span>
        </el-menu-item>
      </el-menu>
    </el-drawer>
  </div>
</template>

<script>
export default {
  name: 'Drawer',
  data () {
    return {
      drawer: false,
      direction: 'ltr',
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png',
      user: 'teste'
    }
  }
}
</script>
