<template>
  <div class="Header">
    <el-drawer class='drawer'
      title="I am the title"
      :visible.sync="drawer"
      :direction="direction"
      :with-header="false"
      size="50%">
      <el-avatar :size="60" :src="circleUrl"></el-avatar>
      <div class="sub-title">{{ user }}</div>
      HELLO
      <el-menu
        default-active="2"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <sidebar-item v-for="route in routes" :key="route.path" :item="route" :base-path="route.path"/>
      </el-menu>
    </el-drawer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import SidebarItem from './Sidebar/SidebarItem'

export default {
  name: 'Header',
  components: { SidebarItem },
  props: {
    user: String
  },
  computed: {
    ...mapGetters([
      'sidebar'
    ]),
    routes() {
      return this.$router.options.routes
    }
  },
  data () {
    return {
      activeIndex2: '1',
      drawer: false,
      direction: 'ltr',
      circleUrl: 'https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png'
    }
  },
  methods: {
    handleSelect (key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.el-menu-header {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}</style>
