<template>
  <div class="dashboard-editor-container">

    <!-- <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <remote-video :remote-data="remoteVideoData" />
    </el-row> -->

    <el-row style="background:#fff;padding:16px 16px 0;margin-bottom:32px;">
      <line-chart :chart-data="lineChartArrayDataAux" />
    </el-row>
    <panel-group @handleSetLineChartData="handleSetLineChartData" />

    <el-row :gutter="32">
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <raddar-chart />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <pie-chart />
        </div>
      </el-col>
      <el-col :xs="24" :sm="24" :lg="8">
        <div class="chart-wrapper">
          <bar-chart />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import BarChart from './components/BarChart'
import LineChart from './components/LineChart'
import PanelGroup from './components/PanelGroup'
import PieChart from './components/PieChart'
import RaddarChart from './components/RaddarChart'
import RemoteVideo from './components/RemoteVideo'

// const lineChartData = {
//   power: {
//     expectedData: [100, 90, 72, 45, 42, 22, 100, 94, 42, 0],
//     actualData: [91, 79, 72, 45, 22, 10, 2, 94, 42, 100]
//     // expectedData: '',
//     // actualData: ''
//   },
//   messages: {
//     expectedData: [200, 192, 120, 144, 160, 130, 140],
//     actualData: [180, 160, 151, 106, 145, 150, 130]
//   },
//   purchases: {
//     expectedData: [80, 100, 121, 104, 105, 90, 100],
//     actualData: [120, 90, 100, 138, 142, 130, 130]
//   },
//   shoppings: {
//     expectedData: [130, 140, 141, 142, 145, 150, 160],
//     actualData: [120, 82, 91, 154, 162, 140, 130]
//   }
// }

export default {
  name: 'DashboardAdmin',
  components: {
    PanelGroup,
    LineChart,
    RaddarChart,
    PieChart,
    BarChart,
    RemoteVideo
  },
  data: () => ({ // props initialItems
    lineChartArrayData: [{
      id: '',
      power: [],
      date: [],
      color: ''
    }],
    lineChartArrayDataAux: [{
      id: '',
      power: [],
      date: [],
      color: ''
    }],
    // lineChartData: {
    //   id: '',
    //   power: [],
    //   date: [],
    //   color: ''
    // },
    remoteVideoData: {
      openCV: ''
    }

    // item: {
    //   id: '',
    //   date: '',
    //   read: '',
    //   department_id: '',
    //   robot_id: '',
    //   route_id: ''
    // },
    // return {
    // lineChartData: this.baterias
    // lineChartData: this.baterias
    // }
  }),
  computed: {
    ...mapGetters({
      robos: 'robot/items',
      historyReads: 'historyRead/items'
    }),
    baterias: function() {
      return JSON.parse(this.item.read).bateria
    }
  },
  watch: {
    'historyReads'(historyRead) {
      !this.lineChartArrayData[0].power.length
        ? this.lineChartArrayData.shift()
        : null
      historyRead.forEach(historyLog => {
        var novo = true
        Object.keys(this.lineChartArrayData).forEach(robot => {
          if (this.lineChartArrayData[robot].id === historyLog.robot_id) {
            novo = false
            this.lineChartArrayData[robot].power.push(JSON.parse(historyLog.read).bateria)
            this.lineChartArrayData[robot].date.push(historyLog.date)
          }
        })
        if (novo) {
          const robo = {
            id: historyLog.robot_id,
            power: [JSON.parse(historyLog.read).bateria],
            date: [historyLog.date],
            color: this.generateRandomHexadecimalColor()
          }
          this.lineChartArrayData.push(robo)
        }
      })
      // console.log(this.lineChartArrayData)
      this.lineChartArrayDataAux = this.lineChartArrayData
      // console.log(this.lineChartArrayDataAux)
      // this.lineChartData.id = this.lineChartArrayData[0].id
      // this.lineChartData.power = this.lineChartArrayData[0].power
      // this.lineChartData.date = this.lineChartArrayData[0].date
      // this.lineChartData.color = this.lineChartArrayData[0].color
    }
  },
  created() {
    this.findRobots()
    this.findHistoryReads()
  },
  methods: {
    ...mapActions({
      findRobots: 'robot/find',
      findHistoryReads: 'historyRead/find'
    }),
    handleSetLineChartData(type) {
      // this.lineChartData = this.lineChartArrayData[0]
    },
    generateRandomHexadecimalColor() {
      var letters = '0123456789ABCDEF'
      var color = '#'
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)]
      }
      return color
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard-editor-container {
  padding: 32px;
  background-color: rgb(240, 242, 245);
  position: relative;

  .github-corner {
    position: absolute;
    top: 0px;
    border: 0;
    right: 0;
  }

  .chart-wrapper {
    background: #fff;
    padding: 16px 16px 0;
    margin-bottom: 32px;
  }
}

@media (max-width:1024px) {
  .chart-wrapper {
    padding: 8px;
  }
}
</style>
