<template>
  <div class="createPost-container">
    <el-form ref="dataForm" :rules="rules" :model="item" label-position="left">
      <el-col :span="24">
      <div class="createPost-main-container">
        <el-row :gutter="24">
          <el-col :span="18">
            <el-row :gutter="24">
                <el-col :span="12" style="padding-left: 0;">
                  <el-form-item label="Departamento" prop="department_id">
                    <el-select v-model="item.department_id" placeholder="Departamento" clearable automatic-dropdown >
                        <el-option
                          v-for="depto in departments"
                          :key="depto.id"
                          :label="depto.description"
                          :value="depto.id"
                        />
                      </el-select>
                  </el-form-item>
                </el-col>
              </el-row>
             <el-row :gutter="24" v-show="item.department_id">
                <el-col :span="18" style="padding-left: 0;">
                  <el-form-item label="Descrição da coordenada" prop="description">
                    <el-input v-model="item.description" placeholder="Porta da T.I." maxlength="45"/>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="24" v-show="item.department_id">
                <el-col :span="6" style="padding-left: 0;">
                  <el-form-item label="Coordenada X" prop="coordinateX">
                    <el-input-number 
                      :step="1" :precision="7" v-model="item.coordinateX" placeholder="Posição X do robô"/>
                  </el-form-item>
                </el-col>
                <el-col :span="6" style="padding-left: 0;">
                  <el-form-item label="Coordenada Y" prop="coordinateY">
                    <el-input-number 
                      :step="1" :precision="7" v-model="item.coordinateY" placeholder="Posição Y do robô"/>
                  </el-form-item>
                </el-col>
                <el-col :span="6" style="padding-left: 0;">
                  <el-form-item label="Coordenada Z" prop="coordinateZ">
                    <el-input-number 
                      :step="1" :precision="7" v-model="item.coordinateZ" placeholder="Posição Z do robô"/>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row :gutter="24" v-show="item.department_id">
                <el-col :span="12" style="padding-left: 0;">
                  <el-form-item label="Ângulo de rotação" prop="angularVariation">
                    <el-input-number 
                      :step="1" :precision="2" v-model="item.angularVariation" placeholder="Ângulo do robô"/>
                  </el-form-item>
                </el-col>
              </el-row>
          </el-col>
        </el-row>
      </div>
      </el-col>
      
      <el-button type="primary" @click="$router.go(-1)">Cancelar</el-button>
      <el-button
        v-loading="loading"
        style="margin-left: 10px;"
        type="success"
        :disabled="!item.angularVariation.toString().length || !item.coordinateX.toString().length || !item.coordinateY.toString().length || 
                    !item.coordinateZ.toString().length || !item.description || !item.department_id"
        @click="submit"> Salvar
      </el-button>
      
    </el-form>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import crudHelper from '@/modules/_common/store/crudHelper'
  import crudMixin from '@/modules/_common/mixins/crud'

  const MODULE_NAME = 'point'
  const crudStore = crudHelper(MODULE_NAME)

  export default {
    name: 'Detail',
    data: () => ({
      MODULE_NAME,
      item: {
        department_id: null,
        description: '',
        coordinateX: '',
        coordinateY: '',
        coordinateZ: '',
        angularVariation: ''
      },
      rules: {
        department_id: [
          { required: true, message: 'Campo obrigatório.', trigger: 'blur' }
        ]
      }
    }),
    computed: {
      ...crudStore.computed,
      ...mapGetters({
        departments: 'department/items'
      })
    },
    created() {
      this.findDepartments()
      if (this.$route.params.id) {
        const id = this.$route.params.id
        this.select({ id })
          .then((item) => Object.assign(this.item, item))
          .catch(alert)
      }
    },
    methods: {
      ...crudStore.actions,
      ...crudMixin.methods,
      ...mapActions({
        findDepartments: 'department/find'
      })
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
  @import '~@/styles/mixin.scss';
  @import '~@/styles/detail.scss';
</style>
