<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initial-items.sync="sortedItems" :models.sync="models" :departments.sync="departments" :loading="loading" />
  </div>
</template>

<script>
const MODULE_NAME = 'robot'
const crudStore = crudHelper(MODULE_NAME)

import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

import ListTable from '../components/ListTable'

const fields = [
  { label: 'ID', slug: 'id' },
  { label: 'Timestamp', slug: 'modelo_id' },
  { label: 'Read', slug: 'read' },
  { label: 'Departamento', slug: 'department_name' },
  { label: 'Robô', slug: 'robot_modelo' },
  { label: 'Rota', slug: 'route_name' }
]

const filters = []

export default {
  components: { ListTable },
  data() {
    return {
      fields: fields,
      filters: filters,
      sortedItems: []
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      departments: 'department/items',
      robots: 'robot/items',
      routes: 'route/items'
    })
  },
  watch: {
    'items'(newVal) {
      newVal.forEach(history => {
        history.department_name = this.getDepartmentName(history.department_id)
        history.robot_modelo = this.getRobotModel(history.robot_id)
        history.route_name = this.getRouteName(history.route_id)
      })
      this.sortedItems = newVal
    },
    deep: true,
    immediate: true
  },
  created() {
    this.find()
    this.findDepartments()
    this.findRobots()
    this.findRoutes()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      find: 'historyRead/find',
      findDepartments: 'department/find',
      findRobots: 'robot/find',
      findRoutes: 'route/find'
    }),
    getDepartmentName(id) {
      for (const department in this.departments) {
        if (this.departments[department].id === id) {
          return this.departments[department].description
        }
      }
    },
    getRobotModel(id) {
      for (const robot in this.robots) {
        if (this.robots[robot].id === id) {
          return this.robots[robot].model
        }
      }
    },
    getRouteName(id) {
      for (const route in this.routes) {
        if (this.routes[route].id === id) {
          return this.routes[route].description
        }
      }
    }
  }
}
</script>
