<template>
  <div class="app-container">
    <h3> {{ $route.meta.title }} </h3>
    <list-table :filters="filters" :fields="fields" :initial-items.sync="sortedItems" :loading="loading" />
  </div>
</template>

<script>
const MODULE_NAME = 'company'
const crudStore = crudHelper(MODULE_NAME)

import { mapActions, mapGetters } from 'vuex'
import crudHelper from '@/modules/_common/store/crudHelper'
import crudMixin from '@/modules/_common/mixins/crud'

import ListTable from '../components/ListTable'

const fields = [
  { label: 'Nome Fantasia', slug: 'fantasyName' },
  { label: 'Nº de Funcionários', slug: 'numberEmployees' },
  { label: 'Status', slug: 'status' }
]

const filters = []

export default {
  components: { ListTable },
  data() {
    return {
      fields: fields,
      filters: filters,
      sortedItems: [],
      paginationOptions: {}
    }
  },
  computed: {
    ...crudStore.computed,
    ...mapGetters({
      items: 'company/items'
    })
  },
  watch: {
    'items'(newVal) {
      newVal.forEach(company => {
        company.status === 'A'
          ? company.status = 'Ativa'
          : company.status = 'Inativa'
      })
      this.sortedItems = newVal
    },
    deep: true,
    immediate: true
  },
  created() {
    this.find()
  },
  methods: {
    ...crudStore.actions,
    ...crudMixin.methods,
    ...mapActions({
      findPoints: 'point/find'
    })
  }
}
</script>
